/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */


/* ---------------------------------- style --------------------------------- */

a{
  text-decoration: none;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  width: 100vw;
  /* border: #282c34 2px solid; */
  background-color: #ffffff;
}

/* Section: Header */

#header{
  display: flex;
  height: 120px;
  width: 100%;
  align-items: flex-start;

}

#header h1{
  color: #006877;
  text-align: left;
  font-size: 20px;
  margin-top: 28px;
  margin-left: 10px;
}

#header .logo {
  min-width: .45in;
  width: 125px;
  margin-left: 15px;
  
}

#temporary-form{
  /* border: #282c34 2px solid; */
  width: 35%;
  height: 50%;
  margin: auto;
}

/* Section: Home */

#navbar{
  display: flex;
  justify-content: flex-start;
  background: rgba(0, 0, 0, 0.5);
  height: 40px;
  text-transform: uppercase;

}

.btn, .msg {
  margin: auto;
  height: 50%;
  padding: 10px;
  width: 165px;
  color: #ffffff;
  font-weight: 500;
  transition: .3s;
}

.msg{
  width: 600px;
  text-transform: none;
}

.btn:hover{
  color: #cddb28;
  background: rgba(0, 0, 0, .4);

}

#space{
  width: 1500px;
  height: 40px;
}

.main-container{
  display: flex;
  height: 60%;
  width: 100%;
  /* border: #282c34 2px solid; */
  justify-content: flex-start;
  flex-direction: column;
  border: 1px solid black;
}

.main-container h1 {
  color: #006877;

}

.main-container #links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

#db-info-container{
  height: 40vh;
  width: 80vw;
  border: 1px solid black;
  margin-left: 10vw;

}

.button {
  background-color: #cddb28;
  border-radius: 5px;
  height: 30px;
  width: 150px;

}

#csv-button{
  background-color: #cddb28;
  height: 120px;
  width: 500px;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  color: #676767;
  transition: .3s
}

#csv-button:hover{
  background: #006877;
  color: #ffffff;
  cursor: pointer;

}

/* Section: Landing Page */
#signout-button{
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  background: #701d45;
  color: #ffffff;
  transition: .3s;
}

#signout-button:hover{
  background: #006877;
}


/* Section: Footer */

#footer{
  background: url('./img/4.jpg') no-repeat center center/cover;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 372.42px;
  color: #ffffff;
}

#footer .logo {
  min-width: .45in;
  width: 140px;
  height: 74.92px;
  margin-left: 15px;
  margin-top: 50px;
}

#footer #contact{
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  margin-left: -120px;
}

#footer #contact .icon{
  margin: 0px 0px 0px 0px;
}

#footer #contact #email{
  margin-top: -8px;
  margin-left: -8px;
}