/* ---------------------------------- style --------------------------------- */

html, body{
  height: 100%;
}

a{
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  background-color: #ffffff;
}

/* Section: Header */

#header{
  display: flex;
  height: 120px;
  width: 100%;
  align-items: flex-start;
}

#header h1{
  color: #006877;
  text-align: left;
  font-size: 20px;
  margin-top: 28px;
  margin-left: 10px;
  z-index: 10;
}

#header .logo {
  min-width: .45in;
  width: 171px;
  height: auto;
  margin-left: 15px;
  margin-top: -83px;
  z-index: 10;
}

#temporary-form{
  width: 35%;
  height: 50%;
  margin: auto;
}

.homepage{
  margin-top: 123px;
  height: 10px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%, transparent 100%)
}

/* Section: Home */

#navbar{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: #cddb28;
  height: 40px;
  text-transform: uppercase;
  margin-top: 83px;
  z-index: 10;
  width: 100%
}

.btn, .msg {
  margin: auto;
  height: 50%;
  padding: 10px;
  /* width: 150px; */
  min-width: 150px;
  color: #676767;
  font-weight: 500;
  transition: .3s;
}

.msg{
  position: absolute;
  right: 0;
  text-transform: none;
}

.btn{
  border-radius: 5px;
}

.btn:hover{
  background: #701d45;
  color: #ffffff;

}

#space{
  background-color: #cddb28;
  width: 2000px;
  height: 40px;
}

.main-container{
  display: flex;
  max-width: 100%;
  max-height: 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background: url('./img/stripes3.png')
}

.main-container h1 {
  color: #006877;
}

.main-container #links{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  background-color: #cddb28;
  border-radius: 5px;
  height: 30px;
  width: 150px;

}

/* Section: Sign-in Page */

.content, #db-info-container{
  background: #fff;
  margin: 0 0 2em;
  margin-top: 10px;
  padding: 1.5em;
  box-shadow: 0px 0px 8px 0px rgba(102,102,102,0.5);
  width: 45vw;
  min-height: 25vw;
}

.main{
  margin-bottom: -20px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -20px
}

#signin-form, #signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.email{
  margin-top: -30px;
}

.form-container{
  max-height: 200px;
  max-width: 450px;
  border-radius: 10px;
}

.password{
  margin-top: 15px;
  margin-left: -31px;
}

.c-password{
  margin-top: 15px;
  margin-left: -94px;
}

.submit{
  margin-top: 15px;
}

/* Section: Modal */

.modal{
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -42.5vh;
  margin-left: -45vw;
  width: 90vw;
  height: 85vh;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(102,102,102,0.5);
  z-index: 2002;
  background-image: url('./img/stripes3.png')
}

.modal-container{
  z-index: 2001;
  max-height: 100%;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5)
}

#close-btn{
  transform: rotate(45deg);
  margin-left: 885px;
  font-size: 25px;
}

#close-btn:hover{
  cursor: pointer;
}

/* Section: Landing Page */

#csv-button{
  background-color: #cddb28;
  height: 120px;
  width: 500px;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 20px;
  border: none;
  color: #676767;
  transition: .3s;
  box-shadow: 5px 10px 8px #888888;
}

#csv-button:hover{
  background: #006877;
  color: #ffffff;
  cursor: pointer;
}

#signout-button, .sign-up{
  border: none;
  border-radius: 20px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  background: #701d45;
  color: #ffffff;
  transition: .3s;
}

#signout-button:hover, .sign-up:hover{
  background: #006877;
  cursor: pointer;
}


/* Section: Footer */

#page {
  height: 10px;
  width: 100%;
  z-index: 10;
  background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.3) 100%);
}

#footer{
  left: 0;
  bottom: 0;
  width: 100%;
  height: 372.42px;
  color: #ffffff;
  overflow: hidden;

}

#footer #container{
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

#footer #footer-top{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer .logo {
  min-width: .45in;
  width: 140px;
  height: 74.92px;
  margin-left: 15px;
  margin-top: 50px;
}

#footer-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

}

#footer #contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-left: 30px;
}

#footer #contact .contact{
  width: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#footer #contact .icon{
  height: auto;
  width: 30px;
  margin: 0px 0px 0px 0px;
}

#email, #phone{
  margin-left: -8px;
}

.contact .info{
  margin-top: 5px;
  margin-left: 10px;
}

#footer #social-container{
  width: 100%;
  display: flex;
  align-self: flex-start;
}

#footer #social-media{
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  align-items: right;
  margin-left: 80vw;
}

#footer #social-media .icon{
  color: #ffffff;
  height: 30px;
  width: 40px;
}

#footer #social-media .icon:hover{
  color: #cddb28;
  cursor: pointer;
}

#footer #footer-bottom{
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

#footer-bottom #text{
  width: 500px;
  display: flex;
  font-weight: 500
}

#footer #footer-links{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  color: #ffffff;
}

#footer #footer-links a{
  color: #ffffff;
}

#footer #footer-links a:hover{
  color: #cddb28;
}

#hr{
  width: 94vw;
  margin-top: 20px;
}

#copyright{
  margin-top: 20px;
  margin-left: 1000px;
}