/* ---------------------------------- style --------------------------------- */

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

main {
  min-height: 100%;
  margin-bottom: -100px;
  background: #ddd;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  background-color: #ffffff;
}

/* Section: Header */

@media only screen and (max-width: 1048px) {
  .msg {
    top: 40px;
    right: 0;
    position: fixed;
    margin: none;
  }
}

@media only screen and (max-width: 721px) {
  #header .signout-button {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .msg {
    display: none;
  }
}

#header {
  display: flex;
  height: 120px;
  width: 100%;
  align-items: flex-start;
  background: url("./img/stripes3.png");
}

#header h1 {
  color: #006877;
  text-align: left;
  font-size: 20px;
  margin-top: 28px;
  margin-left: 10px;
  z-index: 10;
}

#header .logo {
  min-width: 0.45in;
  width: 171px;
  height: auto;
  margin-left: 15px;
  margin-top: -83px;
  z-index: 10;
}

#navbar {
  display: flex;
  background: #cddb28;
  height: 40px;
  text-transform: uppercase;
  margin-top: 83px;
  z-index: 10;
  max-width: 100vw;
}

.btn,
.msg {
  margin: auto;
  padding: 10px;
  color: #676767;
  font-weight: 350;
  transition: 0.3s;
}

.btn {
  min-width: 140px;
  background-color: #cddb28;
  color: #676767;
  border-radius: .25em;
  font-weight: 400;
  border: 1px solid #cddb28;
}

.msg {
  position: absolute;
  right: 40px;
  text-transform: none;
  min-width: 500px;
}

#space {
  background-color: rgba(0, 0, 0, 0);
  width: 2000px;
  height: 40px;
}

.btn:hover {
  border: 1px solid #676767;
  color: #cddb28;
  /* box-shadow: 5px 10px 8px #888888; */
}

.signout-container {
  position: absolute;
  right: 5px;
  top: 88px;
}

#temporary-form {
  width: 35%;
  height: 50%;
  margin: auto;
}

.homepage {
  margin-top: 123px;
  height: 10px;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25) 0%,
    transparent 100%
  );
}

/* Section: Home */

.main-container {
  display: flex;
  max-width: 100%;
  max-height: 75%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  background: url("./img/stripes3.png");
}

.main-container h1,
h4 {
  margin: 10px;
  color: #006877;
}

.main-container #links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Section: Sign-in Page */

.login-message{
  margin-top: -10px;
  margin-bottom: -10px;
}

.main-container h2 {
  color: #2eb198;
  font-size: 38px;
  font-weight: 300;
  text-transform: uppercase;
  min-width: 260px;
}

.content .title span {
  font-weight: 700;
  color: #006877;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.line {
  background: #2eb198;
  height: 3px;
  width: 85%;
  margin-top: 50px;
}

.content,
#db-info-container {
  background: #ffffff;
  margin: 0 0 2em;
  margin-top: 10px;
  padding: 1.5em;
  box-shadow: 0px 0px 8px 0px rgba(102, 102, 102, 0.5);
  width: 80vw;
  min-height: 25vw;
}

.main {
  margin-bottom: -20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -20px;
}

.err {
  margin-top: 15px;
  height: 15px;
}

/* Section: Sign-In Form */

#signin-form,
#signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.firstName {
  margin-top: -30px;
  margin-left: -40px;
}

.lastName {
  margin-top: 15px;
  margin-left: -39px;
}

.email {
  margin-top: 15px;
}

.form-container {
  max-height: 200px;
  max-width: 450px;
  border-radius: 10px;
}

.password {
  margin-top: 15px;
  margin-left: -31px;
}

.c-password {
  margin-top: 15px;
  margin-left: -94px;
}

.submit {
  margin-top: 15px;
}

/* Section: Modal */

.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -42.5vh;
  margin-left: -45vw;
  width: 90vw;
  height: 85vh;
  background-color: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(102, 102, 102, 0.5);
  z-index: 2002;
  background-image: url("./img/stripes3.png");
}

.modal-container {
  z-index: 2001;
  max-height: 100%;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#close-btn {
  transform: rotate(45deg);
  margin-left: 87vw;
  font-size: 25px;
}

#close-btn:hover {
  cursor: pointer;
}

/* Section: Landing Page */

.vsac-lp .signout-button {
  margin-top: 12px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  color: #ffffff;
  border: 1px solid #006877;
  background-color: #701d45;
  border-radius: .25rem;
  text-transform: uppercase;
  height: 30px;
  width: 150px;
  border: none;
  transition: 0.3s;
}

#csv-button {
  background-color: #701d45;
  height: 100px;
  width: 400px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  transition: 0.3s;
}

.signout-button,
.sign-up,
.submit,
.download-button {
  border: 1px solid #006877;
  border-radius: .25rem;
  width: 100px;
  height: 30px;
  font-weight: 700;
  background: #006877;
  color: #ffffff;
  transition: 0.3s;
}

.button-container .signout-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-button {
  background-color: #701d45;
  width: 170px;
  height: 50px;
  margin-top: 9px;
  margin-bottom: 5px;
}

.button:hover,
#csv-button:hover,
.download-button:hover,
.signout-button:hover,
.sign-up:hover,
.submit:hover {
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #006877;
}

/* Section: Footer */

#page {
  height: 10px;
  width: 100%;
  z-index: 10;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 372.42px;
  color: #ffffff;
  overflow: hidden;
}

#footer #container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

#footer #footer-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer .logo {
  min-width: 0.45in;
  width: 140px;
  height: 74.92px;
  margin-left: 15px;
  margin-top: 50px;
}

#footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#footer #contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-left: 30px;
}

#footer #contact .contact {
  width: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

#footer #contact .icon {
  height: auto;
  width: 30px;
  margin: 0px 0px 0px 0px;
}

#email,
#phone {
  margin-left: -8px;
}

.contact .info {
  margin-top: 5px;
  margin-left: 10px;
}

#footer #social-container {
  width: 100%;
  display: flex;
  align-self: flex-start;
}

#footer #social-media {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  align-items: right;
  margin-left: 80vw;
}

#footer #social-media .icon {
  color: #ffffff;
  height: 30px;
  width: 40px;
}

#footer #social-media .icon:hover {
  color: #cddb28;
  cursor: pointer;
}

#footer #footer-bottom {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-left: 20px;
}

#footer-bottom #text {
  width: 500px;
  display: flex;
  font-weight: 500;
}

#footer #footer-links {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70vw;
  color: #ffffff;
}

#footer #footer-links a {
  color: #ffffff;
}

#footer #footer-links a:hover {
  color: #cddb28;
}

#hr {
  width: 94vw;
  margin-top: 20px;
}

#copyright {
  margin-top: 20px;
  margin-left: 65vw;
}

.delete-button {
  background-color: red;
  color: #fefefe;
}

/* Section Program Page */

#program-table {
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}

.left-side {
  text-align: end;
  width: 50%;
  padding-right: 20px;
}

.right-side {
  width: 47%;
  text-align: start;
}

.program-content {
  text-align: center;
  display: contents;
}

#program-header {
  width: 100%;
}
